@using GymWebApp.Models
@*Definim modelul*@
@model IEnumerable<Trainer>
@*Definim Viewul*@
@{
    ViewData["Title"] = "List of fitness trainers";
}

@*Codul*@
<h1>Lista antrenorilor fitness</h1>
<br />

@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create" class="btn btn-success"><i class="bi bi-plus-clipboard2-plus"></i>Adaugă</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Biography)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProfilePicture)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Biography)
            </td>
            <td>
                <img src="@item.ProfilePicture" alt="@item.FirstName" style="max-width: 200px" class="rounded">
            </td>
            @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
            {
                <td div class="col-sm-1">
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary float-right"><i class="bi bi-file-text"></i>Vezi detalii</a> 
                    <a class=" btn btn-outline-info" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil "></i>Editează</a> 
                    <a class=" btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash"></i>Șterge</a>   
                </td>
            }

        </tr>
        }
    </tbody>
</table>
