@using GymWebApp.Models
@model IEnumerable<Subscription>

@{
    ViewData["Title"] = "List of fitness subscriptions";
}

<h1 class="text-center">Lista abonamentelor fitness disponibile în fiecare zi</h1>
<br />

<div class="row">
    @{
        foreach (var item in Model)
        {
            @*<div class="col-md-4 col-xs-6 border-primary mb-3 d-flex">
                    <div class="card" style="width: 18rem;">
                        <img src="@item.Picture" class="card-img-top" alt="@item.Name">
                        <div class="card-body">
                            <h5 class="card-title">@item.Name</h5>
                            <p class="card-text">@item.Description</p>
                            <p class="card-text float-right">@item.Price </p>
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Vizualizare detalii</a>
                        </div>
                    </div>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editează</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Șterge</a>
                </div>*@

            <div class="col-md-4 col-xs-6 border-primary mb-3">
                <div class="card" style="max-width: 500px; height: 650px ">
                    <div class="card-header text-white bg-primary" style="height: 300px; ">
                        <img src="@item.Picture" width="100%" style="height: 300px;" alt="@item.Name">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                        <p class="card-text">@item.Description</p>

                    </div>
                    <div class="card-footer" style="height: 65px;">
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary float-right"><i class="bi bi-file-text"></i>Vizualizare detalii</a>
                    </div>

                </div>
                <br />

                @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                {
                    <div class="row">

                        <a class=" btn btn-outline-info" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil "></i>Editează</a>  |

                        <a class=" btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash"></i>Șterge</a>
                    </div>
                }

            </div>



        }
    }

</div>

@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{


    <div style="position:fixed; right: 25px; bottom:65px;" >
        <a asp-action="Create" class="btn btn-success"><i class="bi bi-plus-clipboard2-plus"></i>Adaugă</a>
    </div>

}


