@using GymWebApp.Models
@model IEnumerable<Training>

@{
    ViewData["Title"] = "List of fitness trainings";
}

<h1 class="text-center">Lista antrenamentelor disponibile în fiecare zi</h1>
<br />
<div class="row">
    @{
        foreach (var item in Model)
        {
            <div class="col-md-4 col-xs-6 border-primary mb-3">
                @*<div class="row">*@
                @*<div class="col-md-12">*@
                <img src="@item.Picture" alt="@item.Name" style="max-width: 300px" class="rounded">
                <h3>
                    <a asp-controller="Trainings" asp-action="Details" asp-route-id="@item.Id">@item.Name</a>
                </h3>

                @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                {
                    <a class=" btn btn-outline-info" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil "></i>Editează</a>
                }


            </div>
        }


    }
</div>

@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <div style="position:fixed; right: 25px; bottom:65px;">
        <a asp-action="Create" class="btn btn-success"><i class="bi bi-plus-clipboard2-plus"></i>Adaugă</a>
    </div>
}