@using GymWebApp.Models
@model IEnumerable<Training>

@{
    ViewData["Title"] = "List of fitness trainings";
}

<h1 class="text-center">Lista antrenamentelor disponibile în fiecare zi</h1>
<br />
<div class="row">
    @{
        foreach (var item in Model)
        {
        <div class="col-md-4 col-xs-6 border-primary mb-3">
            @*<div class="row">*@
            @*<div class="col-md-12">*@
            <img src="@item.Picture" alt="@item.Name" style="max-width: 300px" class="rounded">
            <h3>
                <a asp-controller="Trainings" asp-action="Details" asp-route-id="@item.Id">@item.Name</a>
            </h3>

            @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
            {
                <a asp-action="Edit" asp-route-id="@item.Id">Editează</a>
            }

                @* <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> *@
                @*</div>*@
                @*</div>*@
        </div>
        }


    }
</div>

@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <div class="float-right">
        <a asp-action="Create">Adaugă</a>
    </div>
}