@using GymWebApp.Models 
@model Reservation

@{
    ViewData["Title"] = "Details about a reservation";
}

<h1 class="text-center">Detalii despre rezervare </h1>
<br/>
<div class="row ">
    <div class="col-md-8 offset-2">
        <p class="card-text"><b>Nume: </b>@Model.User.UserName</p>
        @*<p class="card-text"><b>Email: </b>@Model.Email</p>*@
        <p class="card-text"><b>Ora participării: </b>@Model.ParticipationHour.ToString("HH:mm")</p>
        <p class="card-text"><b>Data participării: </b>@Model.ParticipationDate.ToString("dd/MM/yyyy")</p>
        <p class="card-text"><b>Antrenamentul rezervat: </b>@Model.Training.Name</p>
        <div>
            <a asp-action="Index" class="btn btn-primary float-right"><i class="bi bi-arrow-left-circle"></i>Înapoi la listă</a>
        </div>
    </div>
</div>
